# Sets y Booleans 

Los objetivos de aprendizaje son:

1. Sets
    - Construcción de conjuntos.
    - Operaciones y métodos.
2. Booleans
    - Operadores lógicos.
    - Evaluación booleana.

## Sets

En python un `Set` es un conjunto de elementos únicos 


### Construcción de conjuntos

In [1]:
lst = [1, 1, 3, 4, 4, 1, 3]
lst

[1, 1, 3, 4, 4, 1, 3]

Ahora procederemos a crear un conjunto con el constructor `set()`.

In [2]:
s = set(lst)
s

{1, 3, 4}

In [3]:
s = {1, 1, 3, 4, 4, 1, 3, "hola"}
s

{1, 3, 4, 'hola'}

Tambén los podemos construir a partir de `strings`:

In [10]:
set("mississippi")

{'i', 'm', 'p', 's'}

### Operaciones y Métodos.

In [11]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

In [13]:
# Unión 

s1 | s2

{1, 2, 3, 4, 5, 6}

In [14]:
# Intersección

s1 & s2

{3, 4}

In [15]:
# Diferencia 
s1 - s2

{1, 2}

In [16]:
# Diferencia simétrica 

s1 ^ s2

{1, 2, 5, 6}

In [17]:
# Test de contención
s1

{1, 2, 3, 4}

In [18]:
1 in s1

True

In [19]:
5 in s1

False

## Booleans

Son el tipo de dato más básico `True` (1) y `False` (0).


### Operadores lógicos

In [22]:
A = False  
B = True

In [23]:
# test
A or B

True

In [24]:
A and B

False

In [26]:
not A

False

### Evaluación booleana

In [27]:
# Menor estricto 

1 < 2

True

In [28]:
# Menor o igual

5<=5

True

In [29]:
# Mayor estricto

3 > 4

False

In [30]:
# Mayor o igual

10 >= 11

False

In [31]:
# Igual 

a = [1, 2, 3]
b = a.copy()
a == b

True

In [32]:
c = (1, 2, 3)
a == c

False

In [33]:
# No igual
a != c

True

In [34]:
# Idéntico
print(a)
print(b)
a is b

[1, 2, 3]
[1, 2, 3]

False

In [35]:
print("ID de a:",id(a))
print("ID de b:",id(b))

ID de a: 4608301952
ID de b: 4608296576

In [ ]:
# No idéntico 

a is not b

In [ ]:
a = 1
b = 1

a is not b